# Python virtual environment
.venv/

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Build artifacts
build/
dist/

# OS files
.DS_Store
Thumbs.db